.container {
  font-family: "Inconsolata", monospace;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
.upper-container {
  margin: 0 auto;
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.bratislava {
  font-size: 25px;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast-image {
  width: 40px;
}

.minimum {
  opacity: 0.6;
}
.button {
  color: turquoise;
  border-radius: 6px;
}

.card-style {
  display: block;
  max-width: 750px;
  margin: 0 auto;
}

.card-body {
  margin: 0 auto;
  background-color: #e1eedd;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
