.container {
  font-family: "Inconsolata", monospace;
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
}
.upper-container {
  margin: 0 auto;
}

.bratislava {
  font-size: 25px;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast-image {
  width: 35px;
}

.minimum {
  opacity: 0.6;
}
.button {
  color: turquoise;
  border-radius: 4px;
}

.card-style {
  max-width: 650px;
  margin: 0 auto;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
