.container {
  font-family: "Inconsolata", monospace;
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
}
.upper-container {
  margin: 0 auto;
}

.bratislava {
  font-size: 25px;
}
.button {
  color: turquoise;
  border-radius: 4px;
}

.card-style {
  max-width: 650px;
  margin: 0 auto;
}
